.vidn
{
    width: 100%;
    height: 300px;
    border: solid 5px orange;
}

#c{
    width: 100%;
  height: 100%;
  display: block;
}
#homevid{
    margin: 0;
    position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.c1 {
     
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  align-items: center;
}
.btnsub{
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.teszta
{
   
    align-self: center;
    border-radius: 50%;
    margin: 25%;
    animation: blur 4s ease 0s;
  -webkit-animation: blur 4s ease 0s;
  -moz-animation: blur 4s ease 0s;
}

.label{
    --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
label{
    max-width: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    border-radius: 50%;
}

.form-element{

    padding: 5%;
}

.store
{
    background-image: url("assets/img/pizzak/store.jpg");
}

@keyframes blur {
    0%,
    90% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
    50% {
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
    }
  }